body{
    text-align: center;
}
h1{
    border-style: dashed;
    color:aquamarine;
}
img{
    border: 1px;
    border-style: double;
}
a:hover{
    color: black;
}
a:link{
    color:blueviolet;
}
html{
    scroll-behavior: smooth;
}